<div class="container">
  <h1>Register or log in</h1>

  <form [formGroup]="authForm">
    <div class="form-control">
      <input type="text" placeholder="Login" formControlName="login" />
      <div class="validation" *ngIf="login.invalid && login.touched">
        <small *ngIf="login.errors.required">Enter login</small>
        <small *ngIf="login.errors.minlength">Login should be at least 6 characters</small>
        <small *ngIf="login.errors.pattern">Login could contain only letters, numbers and '_'</small>
      </div>
    </div>

    <div class="form-control">
      <input type="password" placeholder="Password" formControlName="password" />
      <div class="validation" *ngIf="password.invalid && password.touched">
        <small *ngIf="password.errors.required">Enter password</small>
        <small *ngIf="password.errors.minlength">Password should be at least 6 characters</small>
      </div>
    </div>

    <div class="buttons">
      <button class="btn" (click)="register()" [disabled]="authForm.invalid">
        Register
      </button>
      <button class="btn" (click)="signIn()" [disabled]="authForm.invalid">
        Login
      </button>
    </div>
  </form>
</div>
